@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #fff;
    color: #111;
    font-family: "Open Sans";
    overflow-x: hidden;
}

.black{
    color:#111;
}

.yellow{
    color: #fff;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 15%;
}

nav ul{
    display: flex;
    padding: 12px;
    border-radius: 50px;
    box-shadow: 5px 5px 18px 0px #bde3ef;
    align-items: center;
    background-color: white;
    width: 30%;
    justify-content: space-between;

}

nav  li{
    list-style: none;
    cursor: pointer;
    
}

nav li:hover{
color: rgba(145, 33, 135, 0.951);
}




#hero{
    display: flex;
    width: 100vw;
    justify-content: space-between;
}

#hero div{
    width: 100%;
}

#hero-img img{
    position: absolute;
    width: 70%;
    top: 0;
    left: 0;
    /* z-index: -6; */
}

#hero-desc{
    padding-top: 5%;
}

#hero-desc h1{
    font-family: Satisfy;
    font-weight: 700;
    font-size: 4rem;
}

#hero-desc p{
    font-family: Satisfy;
    font-weight: 300;
    font-size: 2rem;

}

#hero-desc button{
    margin-top: 10px;
    background-color: #fff;
    border: none;
    border-radius: 50px;
    padding: 15px 30px;
    cursor: pointer;
    box-shadow: 3px 3px 8px 2px #bde3ef;
}

header::before{
    content: "";
    width: 100vw;
    height: 310vh;
    background: linear-gradient(to left, #e97b96 70%, #875ea8 100%);
    position: absolute;
    transform: rotate(-78deg);
    top: -1445px;
    left:-150px;
    z-index: -5;
}

#trendy{
    width: 75vw;
    margin: auto;
    position: relative;
    box-shadow: 2px 5px 19px rgba(145, 33, 135, 0.151);
    background-color: #fff;
    top: 90px;
    padding: 50px 5%;
    text-align: center;
   
}


#trendy h2{
    padding: 20px, 0;
    font-weight: 700;
    font-size: 2rem;
}

.product-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 120vh;
    grid-gap: 50px;
    padding: 30px 5%;
}

.product{
    transition: all 1s;
    
}

.product li{
    display: inline-flex;
    padding: 15px 25px;
    color: rgba(145, 33, 135, 0.431);
} 


.product .product-description{
    padding: 6px;
    color: rgba(17, 17, 17, 0.466);
}

.product:hover{
    box-shadow:2px 5px 19px rgba(145, 33, 135, 0.151);
    cursor: pointer;
}

.product img{
    width: 100%;
    padding-top: 15px;
    display: block;
    margin: auto;
}


.product button{
    transition: all 1s;
}

.add-to-cart-btn{
    padding: 10px 15px;
    margin: 10px;
    border: none;
    border-radius: 50px;
    background-color: rgba(255, 102, 13, 0.5);
    background: linear-gradient(to left, #e97b96 70%, #875ea8 100%);
    color:white;
    display: none;
    cursor: pointer;

}

.product:hover > .add-to-cart-btn{
    display: inline;
    animation-name: fadeIn;
    animation-duration: 2s;
}
.product:hover > .product li{
    display: inline-flex;
    animation-name: fadeIn;
    animation-duration: 2s;
}

.add-to-cart-btn:hover{
    box-shadow: 2px 5px 19px rgba(145, 33, 135, 0.151);
}

.product:hover > .add-to-cart-btn{
    display: inline;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

#brands{
    display: flex;
    position: relative;
    top: 160px;
    left: 280px;
    width: 100vw;
    height: 50vw;
    justify-content: space-between;
}

div .brands-desc{
    padding-top: 2rem;
    margin-right: 2rem;
    width: 45%;
}

.brands-desc h2{
    padding: 20px 0;
    font-weight: 700;
    font-size: 2rem;
}

.brands-desc h3{
    font-weight: 600;
    font-size: medium;
}

.brands-desc p{
    padding: 20px 0;
    text-align: justify;
}

.brands-desc span{
    color: rgba(153, 43, 144, 0.851);
}

.brands-img{
    width: 50%;
}

.brands-img img{
    margin-right: 2rem;
}

.trendy-tab{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 1.5rem;
    box-shadow: 2px 5px 19px rgba(235, 114, 188, 0.182);
    border-radius: 50px;
    margin: 0.7rem;
    font-family: Roboto;
    cursor: pointer;
}

.trendy-tab li:hover{
    color:  rgba(153, 43, 144, 0.851);
}

.trendy-tab .active{
    color:  rgb(216, 59, 203);
}

#trendy .fash{
    position: relative;
    background: linear-gradient(to left, #e97b96 70%, #875ea8 100%);
    animation: anime 5s linear 2s infinite;
    border-radius: 50px;
    width: 8rem;
    height: 1.5rem;
    padding: 0.2rem;
    color: #fff;
}

@keyframes anime {
    from{left: 0px;}
    to{left: 30px;}
}

#newsletter{
    position: relative;
    top: 20px;
    background:linear-gradient(to right,  rgba(238, 38, 105, 0.507), rgba(215, 108, 236, 0.897));
    height: 60vh;
    z-index: -1;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}

.notified p{
    position: relative;
    color:  rgba(255, 255, 255, 0.123);
    font-weight: 900;
    font-size: 8rem;
}

#newsletter h2{
    padding: 30px;
    position: relative;
    top: -130px;
    font-size: 2rem;
}

.spacebar{
    position: relative;
    height: 55px;
    width: 650px;
    background-color: #fff;
    top: -90px;
    display: inline-block;
    padding-left: 10px;
    padding-top: 15px;
    padding-right: 4px;
    padding-bottom: 15px;
    border-radius: 50px;
}

.spacebar ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.spacebar li button{
    position: relative;
    padding: 15px;
    border-radius: 50px;
    border: none;
    width: 120px;
    top: -10px;
    color: #fff;
    background: linear-gradient(to left, #e97b96 0%, #875ea8 100%);
    font-family: Roboto;
}

.spacebar .para{
    opacity: 0.351;
}

#bottom-bar {
    padding: 50px 100px;
    justify-content: center;
}

#bottom-bar h2{
    font-family: Satisfy;
    text-align: center;
    padding: 25px;
    font-weight: 700;
    font-size: 2rem;
}
#bottom-bar .category{
    display: flex;
    justify-content: center;
    font-family: Roboto;
  
}
#bottom-bar .category li {
     margin: 30px;
     display: inline-block;
     cursor: pointer;
}

#social-icons{
    display: flex;
    justify-content: center;
}


#social-icons{
    display: flex;
    justify-content: center;
}


#social-icons li{
    display: inline-block;
    margin: 15px;
    padding: 7px;
    cursor: pointer;
      
}


footer{
    text-align: center;
    background-color: rgba(238, 38, 105, 0.089);
    padding: 20px;
    color: rgb(99, 99, 99);
    font-size: small;
    font-weight: 100;
    letter-spacing: 2px;
}

/* Page 2 css  */

a{
    text-decoration: none;
    color: #111;
}

.logo{
    font-family: Satisfy;
    font-weight: 900;
    font-size: 40px;
    cursor: pointer;
}

.row{
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column{
    flex: 30%;
    padding: 0 4px;
}

.column img{
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    cursor: pointer;
}

.column img:hover{
    opacity: 0.8;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.row:after{
    content: '';
    position: relative;
    display: table;
    clear: both;
}

.container{
    position: relative;
    display: none;
}

#imgtext{
    position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

/* Closable button inside the expanded image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}


@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

